<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <header th:insert="base :: header"></header>
    <style>
        .jumbotron {
            background-color:rgba(12, 38, 23, 0.59);
        }
        body{
            color: white;
        }

    </style>
</head>
<body>
<nav th:replace="base :: navlinks"></nav>
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Find Your Freelancer</h1><br/>
        <a href= "/postJob" class="btn btn-success" role="button">Post Job</a>
        <a href= "/listJobs" class="btn btn-success" role="button">List Jobs</a>

    </div>
</div>

<footer th:insert="base :: footer"></footer>
<div th:insert="base :: scripts"></div>
</body>
</html>