<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <header th:insert="base :: header"></header>
    <style>
        .jumbotron {
            background-color:rgba(12, 38, 23, 0.59);
        }
        body{
            color: white;
        }
        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 60px;
            line-height: 60px;
            background-color: rgba(250 36 25 0.4);
            text-align: center;
        }

    </style>
</head>
<body>
<nav th:replace="base :: navlinks"></nav>
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Job Form</h1><br/>
        <form th:action="@{/processJob}" th:object="${job}" method = "post">
            <input type="hidden" th:field="*{id}"/>
            <div class="form-row">
                <div class="col">
                    <label >Title</label>
                    <input type="text" th:field="*{title}"  class="form-control" placeholder="Job Title"/>
                    <span th:if="${#fields.hasErrors('title')}"
                          th:errors="*{title}"></span>
                </div>
                <div class="col">
                    <label>Author</label>
                    <input type="text" th:field="*{author}" class="form-control" placeholder="Author"/>
                    <span th:if="${#fields.hasErrors('author')}"
                          th:errors="*{author}"></span>
                    <br/>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <label >Phone Number</label>
                    <input type="text" th:field="*{phoneNumber}"  class="form-control" placeholder="phone number"/>
                    <span th:if="${#fields.hasErrors('phoneNumber')}"
                          th:errors="*{phoneNumber}"></span>
                </div>
                <div class="col">
                    <label >Posted Date</label>
                    <input type="date" th:field="*{postedDate}" class="form-control" placeholder="posted date"/>
                    <span th:if="${#fields.hasErrors('postedDate')}"
                          th:errors="*{postedDate}"></span>
                    <br/>
                </div>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Job Description</label>
                <textarea class="form-control" th:field="*{description}" id="exampleFormControlTextarea1" rows="3"></textarea>
                <span th:if="${#fields.hasErrors('description')}"
                      th:errors="*{description}"></span>
                <br/>
            </div>

            <button type="submit" class="btn btn-success">Post Job</button>
        </form>

    </div>
</div>

<footer th:fragment="footer" class="footer">
    <div class="container">
        <span class="text-muted">© 2018 Copyright - Beza</span>
    </div>
</footer>
<div th:insert="base :: scripts"></div>
</body>
</html>